<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Animal</title>
</head>
<body>
    <h1>Edit Animal</h1>
    <form action="/animals/<%=animal._id%>?_method=PUT " method="post">
        <label for="name">Animal name</label>
        <input type="text" name="name" placeholder="animal name" value="<%=animal.name%> ">
        <label for="species">Animal Species</label>
        <input type="text" name="species" placeholder="animal species" value="<%=animal.species%> ">
        <label for="age">Animal's age</label>
        <input type="text" name="age" placeholder="animal's age">
        <button>Submit</button>
    </form>

    <a href="/animals">All animals</a>
    <a href="/animals/<%animal._id%> ">Cancel</a>


</body>
</html>