<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>All Animals</h1>
    <ul>
        <% for(let animal of animals) { %>
            <li><a href="/animals/<%=animal._id%>"><%= animal.name %></a> </li>
            <% }%>

    <a href="/animals/new">Add new animal</a>
</body>
</html>